body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;
}
body::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  background: url(../images/icons/landing-page-cubes.png) no-repeat top right;
  background-size: contain;
}

h1[id]:target:before,
h2[id]:target:before,
h3[id]:target:before,
h4[id]:target:before,
h5[id]:target:before,
h6[id]:target:before {
  content: '';
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
  position: static;
}

/** TABLE OF CONTENT */

#toc.toc2 {
  top: 100px;
  font-family: 'Open Sans', sans-serif;
  height: auto;
  bottom: 0;
}
#toc.toc2 #toctitle {
  display: none;
  font-size: 30px;
  text-align: center;
  color: #145e79;
  border-bottom: 2px solid #145e79;
  text-transform: uppercase;
  font-weight: bold;
}
#toc.toc2 li > a,
#toc.toc2 li > a:hover {
  color: #145e79;
}
#toc.toc2 li > a:hover {
  color: #0294ba;
}

#toc.toc2 li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 10px;
}
#toc.toc2 .sectlevel0 > li {
  text-align: center;
}
#toc.toc2 ul.sectlevel0 ul.sectlevel1 {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
#toc.toc2 .sectlevel0 > li > a,
#toc.toc2 .sectlevel0 > li > a:hover {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

#toc.toc2 .sectlevel1 > li > a,
#toc.toc2 .sectlevel1 > li > a:hover {
  font-size: 20px;
  font-weight: 400;
}

#toc.toc2 .sectlevel2 > li > a,
#toc.toc2 .sectlevel2 > li > a:hover {
  font-size: 20px;
  font-weight: 300;
}

#toc.toc2 .sectlevel2 li {
  position: relative;
}
#toc.toc2 .sectlevel2 > li.has-subsection i {
  position: absolute;
  right: -5px;
  top: 5px;
  color: #145e79;
  transition: transform 0.2s linear;
}
#toc.toc2 .sectlevel2 > li.has-subsection:hover i {
  color: #0294ba;
}
#toc.toc2 .sectlevel2 > li.has-subsection.opened i {
  transform: rotate(90deg);
}

#toc.toc2 .sectlevel3 {
  overflow: hidden;
  transition: max-height 0.2s linear;
}
#toc.toc2 .sectlevel3.computing-size {
  max-height: none !important;
  position: absolute;
  overflow: visible;
  visibility: hidden;
}
#toc.toc2 .sectlevel3 > li > a,
#toc.toc2 .sectlevel3 > li > a:hover {
  font-size: 20px;
  font-weight: 300;
}

/** HEADER */

header {
  background: #145e79;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
}

header nav {
  position: relative;
}

header nav ul {
  margin: 0;
  position: absolute;
  left: 0;
  top: 100px;
  width: 30em;
  padding: 1em;
  overflow: hidden;
  background: #145e79;
  list-style: none;
  display: none;
  text-align: left;
}
header nav ul > li {
  position: relative;
  padding: 0.5em 0;
}

header nav .main-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 30em;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  user-select: none;
}
header nav .main-title span {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
header nav .main-title i {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}

header nav ul > li a,
header nav ul > li a:hover,
header nav ul > li a:visited {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  line-height: 18px;
}
header nav ul > li i {
  font-size: 18px !important;
  color: #fff;
  font-weight: bold !important;
  position: absolute;
  right: 5px;
  height: 100%;
  top: 50%;
  margin-top: -9px;
}

header nav {
  padding-left: 30em;
  vertical-align: middle;
  text-align: right;
}
header nav > div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav > div > div {
  flex: 0 1 24%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav > div a,
header nav > div a:hover,
header nav > div a:visited,
header nav > div a:focus {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
header .github span {
  text-align: right;
}
header .github i {
  font-size: 30px;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
header nav > div > div.search {
  width: 150px;
  height: 100px;
}
header nav > div > div.logo span {
  display: block;
  width: 150px;
  height: 100px;
  background: url(../images/icons/zplogo-def-bleu-web.png) no-repeat center right;
  background-size: 100px auto;
}

/** MENU */
header nav.opened ul {
  height: auto;
  display: block;
}

/** SEARCH RESULTS */
.search {
  position: relative;
  overflow: visible;
}
.search-results {
  display: none;
  position: absolute;
  top: 80px;
  left: -75px;
  right: -75px;
  height: 40vh;
  background: #fff;
  border: 1px solid rgba(20, 94, 121, 0.3);
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
}
.search-results::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.search-results.show {
  display: block;
}
.search-results #search-hits {
  height: 100%;
  overflow-y: auto;
}
.search-results .hit-title {
  display: none;
}
.search-results .hit-content {
  text-align: left;
  border-bottom: 1px solid rgba(20, 94, 121, 0.3);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-results h3 {
  border-bottom: 1px solid #145e79;
}
.search-results h3,
.search-results h3 a,
.search-results h3 a:hover,
.search-results .context,
.search-results .context a,
.search-results .context a:hover {
  text-transform: none;
  display: inline;
  font-size: 1em;
}
.search-results h3,
.search-results .context {
  display: block;
}

.search-results .context {
  padding-bottom: 0.5rem;
}
.search-results .context,
.search-results .context a {
  color: #0294ba;
}
.search-results .context a:hover {
  color: #0294ba;
}
.search-results .context a::after {
  content: '>';
  padding-left: 5px;
}
.search-results .context a:last-child::after {
  content: '';
}
.search-results em {
  font-style: normal;
  font-weight: bold;
  background: yellow;
  line-height: normal;
}

.search-results .hit-content pre {
  line-height: normal;
  margin: 0;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.ais-infinite-hits--showmore {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search .ais-search-box--magnifier {
  top: 7px;
}
.search .ais-search-box--reset {
  top: 8px;
}

/** TITLES */

#header h1:first-child,
#header .details {
  display: none;
}

#content h1,
#content h1 > a.link,
#content h1 > a.link:hover,
#content h2,
#content h2 > a.link,
#content h2 > a.link:hover,
#content h3,
#content h3 > a.link,
#content h3 > a.link:hover,
#content h4,
#content h4 > a.link,
#content h4 > a.link:hover,
#content h5,
#content h5 > a.link,
#content h5 > a.link:hover,
#content h6,
#content h6 > a.link,
#content h6 > a.link:hover {
  font-family: 'Open Sans', sans-serif;
  color: #145e79;
}

#content h1 {
  text-align: center;
}
#content h1 > a.link,
#content h1 > a.link:hover {
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
}

#content h2 {
  border-bottom: 1px solid rgba(20, 94, 121, 0.5);
  margin-bottom: 0.8em;
}
#content h2 > a.link,
#content h2 > a.anchor,
#content h2 > a.link:hover {
  font-weight: 600;
  font-size: 0.8em;
}

#content h3 {
  padding-left: 30px;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 1.5em;
}
#content h3 > a.link,
#content h3 > a.anchor {
  font-size: 0.9em;
}

#content h4 {
  padding-left: 60px;
  font-size: 1.6em;
  margin-top: 2em;
  font-weight: 400;
}
#content h4 > a.link,
#content h4 > a.anchor {
  font-size: 0.9em;
}

#content h5 {
  padding-left: 90px;
  margin-top: 2em;
  font-weight: 400;
}
#content h5 > a.link {
  font-size: 0.9em;
}

#content h6 {
  padding-left: 120px;
}

.sect1 ~ .sect0 {
  border-top: 1px solid #145e79;
  padding-top: 1.1em;
}

/** GENERAL */

a {
  color: #29a8d6;
  text-decoration: none;
}
a:hover {
  color: #0294ba;
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}
ul > li > p {
  margin-bottom: 0;
}
.subheader,
.admonitionblock td.content > .title,
.audioblock > .title,
.exampleblock > .title,
.imageblock > .title,
.listingblock > .title,
.literalblock > .title,
.stemblock > .title,
.openblock > .title,
.paragraph > .title,
.quoteblock > .title,
table.tableblock > .title,
.verseblock > .title,
.videoblock > .title,
.dlist > .title,
.olist > .title,
.ulist > .title,
.qlist > .title,
.hdlist > .title {
  font-size: 18px;
  color: #145e79;
  font-weight: 300;
}

.conum[data-value] {
  background-color: #145e79;
}

/** TABLES */

table.tableblock,
td.tableblock,
th.tableblock {
  border: 0 solid rgba(20, 94, 121, 0.5);
}
table.tableblock,
th.tableblock {
  border-bottom-color: #145e79;
}
table {
  border: none;
}
table thead tr th {
  background: #f3f7f8;
  font-weight: 600;
  font-size: 22px;
  color: #145e79;
}
table tr:nth-child(2n) {
  background: #f3f7f8;
}
table.grid-all th.tableblock {
  border-width: 0 1px 2px 0;
}
table.grid-all td.tableblock {
  border-width: 1px 1px 0px 1px !important;
}
table.tableblock {
  border-bottom-width: 2px;
}

/** ADMONITION */

.admonitionblock.tip .content {
  background-color: rgba(250, 205, 53, 0.05);
}
.admonitionblock td.icon .icon-tip:before {
  color: #facd35;
}
.admonitionblock.note .content {
  background-color: rgba(0, 192, 242, 0.05);
}
.admonitionblock td.icon .icon-note:before {
  color: #00c0f2;
}
.admonitionblock.warning .content {
  background-color: rgba(245, 166, 35, 0.05);
}
.admonitionblock td.icon .icon-warning:before {
  color: #f5a623;
}
.admonitionblock.caution .content {
  background-color: rgba(241, 91, 62, 0.05);
}
.admonitionblock td.icon .icon-caution:before {
  color: #f15b3e;
}
.admonitionblock.important .content {
  background-color: rgba(241, 91, 62, 0.05);
}
.admonitionblock td.icon .icon-important:before {
  color: #f15b3e;
}

/** TABS */

.tab > .tab-label,
.tab > .tab-content {
  border-color: rgba(20, 94, 121, 0.3) !important;
}
.tab > .tab-label {
  background: #f3f7f8 !important;
}
.tab > [type='radio']:checked ~ .tab-label {
  background: #fff !important;
  border-bottom-color: #fff !important;
}

.listingblock:hover code[data-lang]:before {
  display: none !important;
}

.sequence-step {
  display: inline-block;
  font-weight: bold;
  font-size: 0.7em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  color: #fff;
  background: #145e79;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
}

/** RESPONSIVE */

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .sectionbody {
    overflow-x: auto;
  }
  body::before {
    width: 90px;
    height: 90px;
  }
  header nav {
    padding-left: 80px;
  }
  header nav .main-title {
    width: 80px;
    overflow: hidden;
  }
  header nav .main-title span {
    display: none;
  }
  header nav .main-title i {
    display: none;
  }
  header nav .main-title::before {
    content: '\f0c9';
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 30px;
  }
  header nav ul {
    position: fixed;
    width: 15em;
    padding: 0 0.5em 0 0.5em;
    bottom: 0;
  }

  header,
  header nav .main-title,
  header nav > div {
    height: 80px;
  }
  body {
    margin-top: 80px;
  }
  header nav > div {
    justify-content: flex-end;
  }
  header nav ul {
    top: 80px;
  }
  header nav .search,
  header nav .contact-us,
  header nav .github {
    display: none;
  }
  header nav.opened .contact-us,
  header nav.opened .github {
    position: fixed;
    display: block;
    left: 0;
    width: 15em;
    text-align: left;
    padding-left: 0.5em;
  }
  header nav.opened .contact-us a,
  header nav.opened .github a {
    display: inline-block;
    font-size: 18px;
  }
  header nav.opened .contact-us {
    bottom: 50px;
  }
  header nav.opened .github {
    bottom: 10px;
  }
  header nav.opened .github i {
    font-size: 25px;
    padding-right: 0;
  }
  header nav > div > div.logo {
    margin-right: 10px;
  }
  header nav > div > div.logo span {
    display: block;
    width: 80px;
    height: 80px;
    background: url(../images/icons/zplogo-def-bleu-web.png) no-repeat center right;
    background-size: 80px auto;
  }
  header nav ul > li a,
  header nav ul > li a:hover,
  header nav ul > li a:visited {
    font-size: 16px;
  }
  #toc.toc2 #toctitle {
    display: block;
  }
  #header > h1:first-child + #toc {
    border-top: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  body::before {
    width: 180px;
    height: 180px;
  }
  header nav {
    padding-left: 15em;
  }
  header nav .main-title,
  header nav ul {
    width: 15em;
    padding: 0 0.5em;
  }
}
@media only screen and (min-width: 1280px) {
  body::before {
    width: 260px;
    height: 260px;
  }
  header nav {
    padding-left: 20em;
  }
  header nav .main-title,
  header nav ul {
    width: 20em;
    padding: 0 1em 0 0.5em;
  }
}
@media only screen and (min-width: 1600px) {
  body::before {
    width: 320px;
    height: 320px;
  }
  header nav {
    padding-left: 30em;
  }
  header nav .main-title,
  header nav ul {
    width: 30em;
    padding: 1em;
  }
}
