code {
	font-size: 0.85em !important;
	letter-spacing: normal;
}
p code {
	font-size: 0.72em !important;
}
/*pre code {
	font-size: 0.75em !important;
}*/
li code {
	font-size: 0.85em !important;
}

.break-code code {
	white-space: normal;
}


.resource-resolution-properties li code {
	font-size: 0.75em !important;
}

.imageblock.text-center .title {
	text-align: center;
}
.imageblock.center .content,
.imageblock.center .title {
	text-align: center;
	
}

.no-callout .conum,
.no-callout .conum + b,
.no-callout + .colist {
	display: none;
}


h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before, a[name]:before {
	position: absolute;
	z-index: -1;
}


.coming-soon {
	font-weight: normal;
}
.coming-soon::after {
	content: " (coming soon)";
	color: #777;
}


.code-once-diagram img {
	height: 370px;
}


#toc ul.sectlevel0>li>a {
	font-style: normal;
	font-weight: bold;
	font-size: 1.2em;
}
#toc ul.sectlevel1>li>a {
	font-weight: bold;
}

@media only screen and (min-width: 1600px) {
	#toc.toc2 {
		width: 30em;
	}
	body.toc2 {
    padding-left: 30em;
    padding-right: 0;
	}
}


.exchange-call {
	color: #00c0f2;
	font-size: 1.2em;
}
.exchange-response {
	color: #ffbd4a;
	font-size: 1.2em;
}

.sections-shortcut tr:first-child td {
	font-size: 1.3em;
	font-weight: 800;
}
